Sowdamini's Work

In [1]:
import pandas as pd
zips = pd.Series({'Boston': '02215','Miami': '3310'})
zips

Boston    02215
Miami      3310
dtype: object

In [2]:
zips.str.match(r'\d{5}')

Boston     True
Miami     False
dtype: bool

In [3]:
cities = pd.Series(['Boston, MA 02215','Miami, FL 33101'])
cities

0    Boston, MA 02215
1     Miami, FL 33101
dtype: object

In [4]:
cities.str.contains(r' [A-Z]{2} ')

0    True
1    True
dtype: bool

In [5]:
cities.str.match(r' [A-Z]{2} ')

0    False
1    False
dtype: bool

In [6]:
contacts = [['Mike Green','demo1@deitel.com', '5555555555'],['Sue Brown','demo2@deitel.com', '5555551234']]
contactsdf = pd.DataFrame(contacts,columns=['Name', 'Email', 'Phone'])
contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

# Sowdamini's Work

In [7]:
 import re

def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{1})(\d{3})(\d{6})', value)
    return '-'.join(result.groups()) if result else value

formatted_phone = contactsdf['Phone'].map(get_formatted_phone)
formatted_phone

0    5-555-555555
1    5-555-551234
Name: Phone, dtype: object

In [8]:
contactsdf['Phone'] = formatted_phone
contactsdf

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  5-555-555555
1   Sue Brown  demo2@deitel.com  5-555-551234